<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybersecurity Certification Flashcards</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="container mx-auto">
    <h1 class="text-3xl text-center font-bold mb-4 pt-10">Cybersecurity Certification Flashcards</h1>

    <!-- Flashcards Grid -->
<div class="grid grid-cols-3 gap-4 pt-10">
    <!-- CompTIA A+ Flashcards -->
    <a href="/compTIA_A+" class="bg-white p-4 shadow-md rounded-md block border-4 border-blue-500">
        <h2 class="text-2xl font-bold mb-2">CompTIA A+</h2>
        <!-- Add flashcards content here -->
    </a>

    <!-- CompTIA Network+ Flashcards -->
    <a href="/compTIA_Network+" class="bg-white p-4 shadow-md rounded-md block border-4 border-blue-500">
        <h2 class="text-2xl font-bold mb-2">CompTIA Network+</h2>
        <!-- Add flashcards content here -->
    </a>

    <!-- CompTIA Security+ Flashcards -->
    <a href="/compTIA_Security+" class="bg-white p-4 shadow-md rounded-md block border-4 border-blue-500">
        <h2 class="text-2xl font-bold mb-2">CompTIA Security+</h2>
        <!-- Add flashcards content here -->
    </a>
</div>

</div>
</body>
</html>
